<div class="col-xs-10 col-xs-offest-1 about">
	<h1>About Maestro's Wisdom</h1>

	<p>
		Maestro's Wisdom was built by Professor Robbie at the <a target="_blank" href="http://pinkmicrophones.com">Pink Microphones Laboratory</a> as an assignment for <a target="_blank" href="http://www.thefirehoseproject.com">theFirehoseProject</a>. Both current and future listeners of <a target="_blank" href="https://itunes.apple.com/us/podcast/mastercaster!-pink-microphones/id1035151026">MasterCaster</a> are invited to contribute.
	</p>

	<br />
	
	<div class="col-xs-12 col-sm-4">
		<%= image_tag 'robbie.jpg', :class => 'img-responsive' %>
	</div>

	<div class="col-xs-12 col-sm-7 col-sm-offset-1">
		<h2 class="text-center">Robert Sapunarich</h2>
		<br />
		<p>
			Professor Robbie is the (sort of) competent comedic persona of <a target="_blank" href="https://github.com/robertsapunarich">Robert Sapunarich</a>. Robert is a graduate of California Baptist University, and currently an apprentice of theFirehoseProject, where he is learning to become a full stack web-developer. When he's not programming, Robert enjoys reading, writing, working on a podcast, drinking craft beer, and speculating about the futures of Star Wars and Twin Peaks.
		</p>
	</div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />